<!DOCTYPE html>
<html>
<head>
  <title>Square</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body>
<h1> Square </h1>

<p>The square of <%= @numbers %>  is <%= @square %>.</p>
</body>
</html>
